# **Data Types and Structures Questions**

Ques-1>> What are data structures, and why are they important?
  
Ans-1>> Data structures are ways of organizing and storing data in a computer so it can be accessed and modified efficiently.

Importance : They help in efficient data management, faster processing, and are essential for writing optimized code.

Ques-2>> Explain the difference between mutable and immutable data types with examples.

Ans-2>> **Mutable** data types can be changed after they are created. Example: List, Dictionary

**Immutable** data types cannot be changed once they are created. Example: String, tuple

Ques-3>> What are the main differences between lists and tuples in Python?

Ans-3>>

1.   **Mutability**

*   Lists are mutable, meaning their elements can be changed or updated.
*   Tuples are immutable, so their content cannot be modified after creation.

2.   **Syntax**

*   Lists use square brackets: [1, 2, 3]
*   Tuples use parentheses: (1, 2, 3)

Ques-4>> Describe how dictionaries store data?

Ans-4>> Dictionaries in Python store data as key-value pairs.

Ques-5>> Why might you use a set instead of a list in Python?

Ans-5>> We might use a set instead of a list when we want to Store unique items (no duplicates).

Ques-6>> What is a string in Python, and how is it different from a list?

Ans-6>> A **string** in Python is a sequence of characters used to store text.

**Differences from a list:**
*   A string holds characters, while a list can hold items of any type (numbers, strings, etc.).
*   Strings are immutable (can’t be changed), but lists are mutable (can be changed).
*   Strings use quotes (" " or ' '), lists use square brackets ([ ]).

Ques-7>> How do tuples ensure data integrity in Python?

Ans-7>> Tuples ensure data integrity by being immutable, meaning once a tuple is created, its content cannot be changed.

Ques-8>>What is a hash table, and how does it relate to dictionaries in Python?

Ans-8>> A **hash table** is a data structure that stores data using a key and a computed hash value to quickly find the data.

Ques-9>> Can lists contain different data types in Python?

ans-9>> Yes, lists in Python can contain different data types in the same list.

Example : my_list = [1, "apple", 3.14, True]

Ques-10>> Explain why strings are immutable in Python?

Ans-10>> Strings are immutable in Python to ensure safety and efficiency.

Ques-11>> What advantages do dictionaries offer over lists for certain tasks?

Ans-11>>

*   **Key-value pairs:** Store related data together (like name: age), making data more organized.
*   **No fixed order needed:** Useful when order doesn’t matter, unlike lists which are ordered.
*   **Unique keys:** Prevent duplicate entries for keys, ensuring data integrity.

Ques-12>>  Describe a scenario where using a tuple would be preferable over a list.

Ans-12>> A tuple is preferable over a list when you need to store fixed, unchangeable data that should not be modified accidentally.

Example: Use a tuple to store a date, like a birthday
birthday = (1998, 01, 28)  # Year, month, day

Ques-13>> How do sets handle duplicate values in Python?

Ans-13>> **Sets** automatically remove duplicates. If you try to add a value that is already in the set, it will not be added again.

Ques-14>> How does the “in” keyword work differently for lists and dictionaries?

Ans-14>>

*   **For list:** Checks if a value exists anywhere in the list.
*   **For dictionary:** Checks if a key exists in the dictionary (not the values).

Ques-15>> Can you modify the elements of a tuple? Explain why or why not?

Ans-15>> No, you cannot modify the elements of a tuple because tuples are immutable.

Ques-16>> What is a nested dictionary, and give an example of its use case?

Ans-16>> A nested dictionary is a dictionary where the values are themselves dictionaries.

Example: Storing information about students and their grades in different subjects.

students = {
  "Alice": {"Math": 90, "English": 85},
  "Bob": {"Math": 75, "English": 80}
}

Ques-17>> Describe the time complexity of accessing elements in a dictionary?

Ans-17>> Accessing elements in a dictionary has an average time complexity of O(1), meaning it takes constant time regardless of the dictionary size. This is because dictionaries use a hash table, which allows quick lookup by key.

Ques-18>>  In what situations are lists preferred over dictionaries?

Ans-18>> Lists are preferred over dictionaries when:


*   You need ordered data that keeps the sequence of items.
*   You want to store duplicate values.
*   The data is simple and doesn’t require key-value pairs.

Ques-19>> Why are dictionaries considered unordered, and how does that affect data retrieval?

Ans-19>> Dictionaries are considered unordered because they store data based on hash values of keys, not the order items were added.

Effect on data retrieval:
*   You cannot rely on the order of items when looping through a dictionary.
*   Data is accessed by key so order does not matter for lookups.

Ques-20>> Explain the difference between a list and a dictionary in terms of data retrieval.

Ans-20>>

*   **List** retrieve items by their index (position).
*   **Dictionary** retrieve items by their key (a unique identifier).

# **Practical Questions**

In [69]:
# Ques-1>> Write a code to create a string with your name and print it.
name = "Pawan"
print(name)

Pawan

In [70]:
# Ques-2>> Write a code to find the length of the string "Hello World".
string = "Hello World"
print(len(string))

11

In [71]:
# Ques-3>> Write a code to slice the first 3 characters from the string "Python Programming".
string = "Python Programming"
print(string[:3])

Pyt

In [72]:
# Ques-4>> Write a code to convert the string "hello" to uppercase.
string = "hello"
print(string.upper())

HELLO

In [73]:
# Ques-5>> Write a code to replace the word "apple" with "orange" in the string "I like apple".
string = "I like apple"
print(string.replace("apple", "orange"))

I like orange

In [74]:
# Ques-6>> Write a code to create a list with numbers 1 to 5 and print it.
list = [1, 2, 3, 4, 5]
print(list)

[1, 2, 3, 4, 5]

In [75]:
# Ques-7>> Write a code to append the number 10 to the list [1, 2, 3, 4].
list = [1, 2, 3, 4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [76]:
# Ques-8>> Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
list = [1, 2, 3, 4, 5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [77]:
# Ques-9>> Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
list = ['a', 'b', 'c', 'd']
print(list[1])

b

In [78]:
# Ques-10>> Write a code to reverse the list [10, 20, 30, 40, 50].
list = [10, 20, 30, 40, 50]
print(list[::-1])

[50, 40, 30, 20, 10]

In [79]:
# Ques-11>> Write a code to create a tuple with the elements 100, 200, 300 and print it.
tuple = (100, 200, 300)
print(tuple)

(100, 200, 300)

In [80]:
# Ques-12>> Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tuple = ('red', 'green', 'blue', 'yellow')
print(tuple[2])

blue

In [81]:
# Ques-13>> Ques-13>> Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tuple = (10, 20, 5, 15)
print(min(tuple))

5

In [82]:
# Ques-14>> Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple = ('dog', 'cat', 'rabbit')
print(tuple.index('cat'))

1

In [83]:
# Ques-15>> Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ("apple", "banana", "orange")

if "kiwi" in fruits:
    print("kiwi is in the tuple")
else:
    print("kiwi is not in the tuple")

kiwi is not in the tuple

In [100]:
# Ques-16>> Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'c', 'b'}

In [107]:
# Ques-17>> Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1, 2, 3, 4, 5}
my_set.clear()

In [105]:
# Ques-18>> Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [87]:
# Ques-19>> Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
Set_A = {1, 2, 3}
Set_B = {3, 4, 5}
print(Set_A.union(Set_B))

{1, 2, 3, 4, 5}

In [88]:
# Ques-20>> Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set_A = {1, 2, 3}
set_B = {2, 3, 4}
print(set_A.intersection(set_B))

{2, 3}

In [89]:
# Ques-21>> Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dict = {"name": "Pawan", "age": 27, "city":"Delhi"}
print(dict)

{'name': 'Pawan', 'age': 27, 'city': 'Delhi'}

In [90]:
# Ques-22>> Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dict = {'name': 'John', 'age': 25}
dict["country"] = "USA"
print(dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [91]:
# Ques-23>> Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dict = {'name': 'Alice', 'age': 30}
print(dict["name"])

Alice

In [92]:
# Ques-24>> Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del dict["age"]
print(dict)

{'name': 'Bob', 'city': 'New York'}

In [93]:
# Ques-25>> Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dict = {'name': 'Alice', 'city': 'Paris'}
if "city" in dict:
    print("city exists in the dictionary")
else:
    print("city does not exist in the dictionary")

city exists in the dictionary

In [94]:
# Ques-26>> Write a code to create a list, a tuple, and a dictionary, and print them all.
list = [1, 2, 3, 4, 5]
tuple = (1, 2, 3, 4, 5)
dict = {"name": "Pawan", "age": 27, "city":"Delhi"}
print(list)
print(tuple)
print(dict)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{'name': 'Pawan', 'age': 27, 'city': 'Delhi'}

In [95]:
# Ques-27>> Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
list = []
for i in range(5):
    list.append(random.randint(1, 100))
list.sort()
print(list)

[19, 22, 76, 98, 99]

In [96]:
# Ques-28>> Write a code to create a list with strings and print the element at the third index.
list = ["apple", "banana", "orange", "grape", "kiwi"]
print(list[3])

grape

In [97]:
# Ques-29>> Write a code to combine two dictionaries into one and print the result.
dict_1 = {"name": "Pawan", "age": 27, "city":"Delhi"}
dict_2 = {"country": "India", "state": "Delhi"}
dict_1.update(dict_2)
print(dict_1)

{'name': 'Pawan', 'age': 27, 'city': 'Delhi', 'country': 'India', 'state': 'Delhi'}

In [112]:
# Ques-30>> Write a code to convert a list of strings into a set.
my_list = ["apple", "banana", "orange", "grape", "kiwi"]
my_set = set(my_list)
print(my_set)

TypeError: 'set' object is not callable